<a class="btn btn--primary btn--icon" href="#">
  {{> @icon name="arrow-left" modifier="btn--icon-left"}} {{text}}
</a>
<br>
<a class="btn btn--primary btn--icon" href="#">
  {{text}} {{> @icon name="arrow-right" modifier="btn--icon-right"}}
</a>
