.tab__nav {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid $color__cta;
}

.tab__nav-item {
  display: block;
  flex-grow: 1;
}

.tab__link {
  display: block;
  background-color: $color__bright;
  color: $color__cta;
  padding: rem(16);
  text-decoration: none;
  text-align: center;
  font-size: rem(16);
  font-weight: $font-weight--medium;
  line-height: 1.375;
  text-transform: uppercase;

  &:hover {
    background-color: $color__cta-hover;
    color: $color__bright;
  }

  &:active,
  &.tab--active {
    background-color: $color__cta;
    color: $color__bright;
  }
}

.tab__panel {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:focus {
    outline: none;
  }

  &.tab--active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
