<div class="slider js-slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        {{#each items }}
          <div class="swiper-slide">
              <img src="{{item}}" alt="Img">
          </div>
        {{/each}}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>